<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inmaker">
    <!-- Permiso para usar la cámara -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Declaración de hardware de cámara (opcional, no bloquea la instalación en equipos sin cámara) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Permiso de lectura externa -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inmaker"
        tools:targetApi="31">
        <activity
            android:name=".GalleryActivity"
            android:exported="false" />
        <!-- Actividad de tomar foto -->
        <activity
            android:name=".TakePhotoActivity"
            android:exported="false" /> <!-- Actividad del menú principal -->
        <activity
            android:name=".MenuActivity"
            android:exported="true" /> <!-- Actividad de registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true" /> <!-- Actividad de login (pantalla principal al iniciar la app) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>